<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Iniciar sesión</h1>

    <form action="/users/access" method="post">
        
        <fieldset>
            <label>Email</label>
            <input type="email" name="email" id="email" placeholder="" >
        </fieldset>
        <% if (locals.errors && errors.email) { %>
            <p style="color:red"> <%= errors.email.msg %>  </p>
           <% } %>
        <fieldset>
            <label>Password</label>
            <input type="password" name="password" id="password" placeholder="" >
        </fieldset>
        <% if (locals.errors && errors.password) { %>
            <p style="color:red"> <%= errors.password.msg %>  </p>
           <% } %>
        <button type="submit">Ingresar</button>

    </form>
    
</body>
</html>